<ELF>
	<Disassembler>/home/rajshekar/softwares/bcc-2.2.0-gcc/bin/sparc-gaisler-elf-objdump</Disassembler>
</ELF>
<Processor>
	<NWindows>8</NWindows>
	<JmplLatency>3</JmplLatency><!-- TODO to implement control interlocks more accurately -->
	<MulLatency>2</MulLatency>
	<MulReciprocalOfThroughput>1</MulReciprocalOfThroughput><!-- TODO implement pipelined FUs -->
	<DivLatency>35</DivLatency>
	<TakenTrap>5</TakenTrap><!-- TODO -->
	<L1iCache>
		<LineSize>32</LineSize>
		<SingleLoadLatency>1</SingleLoadLatency>
		<DoubleLoadLatency>2</DoubleLoadLatency><!-- TODO to implement heterogeneous latencies for different widths -->
		<SingleStoreLatency>2</SingleStoreLatency>
		<DoubleStoreLatency>3</DoubleStoreLatency>
		<AtomicLatency>3</AtomicLatency>
	</L1iCache>
	<L1dCache>
		<LineSize>32</LineSize>
		<SingleLoadLatency>1</SingleLoadLatency>
		<DoubleLoadLatency>2</DoubleLoadLatency>
		<SingleStoreLatency>2</SingleStoreLatency>
		<DoubleStoreLatency>3</DoubleStoreLatency>
		<AtomicLatency>3</AtomicLatency>
	</L1dCache>
	<iCache>
		<iCacheSize>320</iCacheSize>
		<iLineSize>32</iLineSize>
		<iReplacementPolicy>0</iReplacementPolicy>
		<iCacheType></iCacheType>
		<iLatency>2</iLatency>
		<iSetAssociativity>2</iSetAssociativity>
	</iCache>
	<dCache>
		<dCacheSize>320</dCacheSize>
		<dLineSize>32</dLineSize>
		<dReplacementPolicy>0</dReplacementPolicy>
		<dCacheType></dCacheType>
		<dLatency>2</dLatency>
		<dSetAssociativity>2</dSetAssociativity>
	</dCache>
</Processor>

<Memory>
	<Model>Simple</Model> <!-- Simple, File -->
	<MemoryFile>NULL</MemoryFile> <!-- to be set when the Memory Model is File -->
	<Latency>3</Latency>
</Memory>
